<!-- Step 3 Add Header -->


<!-- Step 2 - If an adjective and noun are sent to this ejs file, 
    Change the h1 to show the adjective and noun.
    But when the user first goes on the website and there is no adjective and noun, 
    Show the default h1 below -->
<%- include("partials/header.ejs") %>
<form action="/submit" method="POST">
  <h1><%=locals.dataer%> <%=locals.dara%></h1>
  <input type="submit" value="Generate Name">
</form>
<%- include("partials/footer.ejs") %>
<!-- Step 3 Add Footer -->